 * {
   margin: 0;
   padding: 0;
   /* outline: solid red 2px; */
   box-sizing: border-box;

 }

 body {
   max-width: 130rem;
   margin-inline: auto;

 }

 html {
   font-size: 62.5%;

 }

 header {
   width: 100%;
 }

 .logo-navbar {
   margin-top: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .logo-navbar img {
   width: 25rem;

 }

 .navbar button {
   width: 17rem;
   height: 5rem;
   border-radius: 50px;
   margin: 14px 10px;
   border: none;
   font-family: "DM Sans";
   transition: .3s ease-in;

 }

 .icons {
   position: absolute;
   right: 5%;
   color: #743790;
   cursor: pointer;
   font-size: 2.9em;
   display: none;
 }

 nav a {
   text-decoration: none;
   list-style: none;
   color: white;
   font-size: 1.8rem;
 }

 .login {
   background: #743790;
 }

 .signup {
   background: #FFCB51;
 }

 .side-c {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;
   background-color: #fcf5ff;
   width: 80rem;
   height: 70.5rem;
   border-bottom-left-radius: 150px;
   z-index: -1;
 }

 .hero-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 8rem;
   color: #505050;

 }

 .hero-text {
   width: 50rem;
   height: 30rem;

 }

 .hero-text h1 {
   font-size: 4.8rem;
   margin-top: 5.5rem;
   font-family: "DM Sans";
   font-weight: 700;
 }

 .hero-text h1 span {
   color: #743790;
   font-family: "DM Sans";

 }

 .hero-text h2 {
   font-family: "Lato";
   font-size: 2rem;
   line-height: 2.5rem;
   margin-top: 2rem;
   font-weight: 400;
 }

 .hero-image {
   width: 35rem;
   margin-left: 8rem;

 }

 .hero-content button {
   width: 16rem;
   height: 5rem;
   border-radius: 50px;
   margin: 14px 10px;
   border: none;
   font-size: 17px;
   font-family: "DM Sans";
   text-decoration: none;
   list-style: none;
   margin-top: 2rem;
   font-weight: 500;

 }

 .hero-content a {
   text-decoration: none;
   list-style: none;

 }

 .bills1 {
   background: #743790;
   color: #ffffff;

 }

 .bills2 {
   background: #ecebe9;
   color: #743790;
 }

 a:visited {
   color: inherit;
 }

 section {
   margin-top: 12rem;
 }

 section h1 {
   color: #743790;
   justify-content: center;
   text-align: center;
   display: flex;
   font-family: "DM Sans";
   font-size: 3.8rem;
   font-weight: 700;
   line-height: 52px;
   letter-spacing: 1px;
   margin-bottom: 1%;
 }

 section p {
   font-family: "Lato";
   font-size: 1.8em;
   font-weight: 500;
   line-height: 1.6em;
   letter-spacing: 0px;
   text-align: center;
   color: rgba(80, 80, 80, 1);
   /* margin-left:10rem; */
 }

 .PARENTS-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 15%;
   margin-top: 5%;


 }

 .text-grid {
   margin-top: 20%;
 }

 .text-grid h4 {
   color: #ffcb51;
   margin-bottom: 0.9%;
   font-family: "DM Sans";
   font-size: 2rem;
   font-weight: 500;
   line-height: 23px;
   letter-spacing: 1px;
 }

 .text-grid h1 {
   color: #743790;
   line-height: 4rem;
   margin-bottom: 1.5rem;
   font-size: 3.5rem;
   font-weight: 700;
   font-family:  "DM Sans";
 }

 .text-grid .child-1,
 .text-grid .child-2,
 .text-grid .child-3 {
   margin-bottom: 1.5rem;
   display: flex;
   font-size: 1.7rem;
   color: rgba(80, 80, 80, 1);
   font-family: "Lato";
   font-weight: 500;

 }

 .text-grid i {
   color: #743790;
   margin-right: 1%;
 }

 .image-grid img {
   width: 50rem;
 }

 .rev-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: inherit;
   margin-top: 5%;
 }

 .cubo-grid h4 {
   color: #ffcb51;
   margin-bottom: 0.9%;
   font-family: "DM Sans";
   font-size: 2rem;
   font-weight: 500;
   line-height: 23px;
   letter-spacing: 1px;
 }

 .cubo-grid h1 {
   color: #743790;
   line-height: 4rem;
   margin-bottom: 1.5rem;
   font-size: 3.5rem;
   font-weight: 700;
   font-family: "DM Sans";
 }

 .rev-grid img {
   width: 50rem;
 }

 .text-grid {
   display: block;
   font-size: 19px;
   color: rgba(80, 80, 80, 1);
   width: Hug (378px);
 }

 .cubo-grid .child-4,
 .cubo-grid .child-5,
 .cubo-grid .child-6,
 .cubo-grid .child-7 {
   margin-bottom: 1.5rem;
   display: flex;
   font-size: 1.7rem;
   color: rgba(80, 80, 80, 1);
   font-family: "Lato";
   font-weight: 400;
   line-height: 2.5rem;
 }

 .cubo-grid i {
   color: #743790;
   margin-right: 1%;
 }

 /*  */


 .all-payment {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 5%;
   margin-top: 15%;
 }

 .payment {
   width: 100%;

 }

 .all-payment h1 {
   color: #743790;
   font-family: "DM Sans";
   font-size: 3.7em;
   font-weight: 700;
   line-height: 4.8rem;
   letter-spacing: 0px;
 }

 .Paymentimg {
   width: 40rem;
   box-shadow: 0px 0px 30px 0px rgb(99, 85, 106);
   filter: blur(-1px); }

 .all-payment p {
   margin-top: 3%;
   margin-bottom: 3%;
   font-size: 1.7rem;
   color: rgba(80, 80, 80, 1);
   font-family: "Lato";
   font-weight: 400;
   line-height: 2.5rem;
 }

 .all-payment ul {
   line-height: 3.5rem;
   font-size: 1.7rem;
   color: rgba(80, 80, 80, 1);
   font-family: "Lato";
   font-weight: 400;
   margin-left: 1.5rem;
   display: flex;


 }

 .all-payment ul span {
   font-size: 4rem;
   color: #743790;
 }
.Schoolteller{
  margin-top: 9%;
}
 .about-1 {
   color: #743790;
   justify-content: center;
   text-align: center;
   display: flex;
   font-family: "DM Sans";
   font-size: 4rem;
   font-weight: 700;
   line-height: 52px;
   letter-spacing: 1px;
   margin-bottom: 1%;
 }

 .about-2 {
   font-family: "Lato";
   font-size: 1.8em;
   font-weight: 500;
   line-height: 1.6em;
   letter-spacing: 0px;
   text-align: center;
   color: rgba(80, 80, 80, 1);
 }

 .Tracking {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: inherit;
   margin-top: 5%;
 }



 .Tracking-school h1 {
   color: #743790;
   font-family: "DM Sans";
   font-size: 3.7em;
   font-weight: 700;
   line-height: 4.8rem;
   letter-spacing: 0px;
 }

 .Tracking img {
   width: 45rem;
 }

 .Tracking-school ul {
   display: flex;
   line-height: 3.5rem;
   font-size: 1.7rem;
   color: rgba(80, 80, 80, 1);
   font-family: "Lato";
   font-weight: 400;
   margin-left: 1.5rem;


 }

 .Tracking-school ul span {
   font-size: 4rem;
   color: #743790;

 }

 .grid-all {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-top: 8%;
   place-items: center;
   margin-bottom: 20%;

 }


 .grid-all h1 {
   color: #743790;
   font-family: "DM Sans";
   font-size: 3.7em;
   font-weight: 700;
   line-height: 4.8rem;
 }

 .grid-all h3 {
   font-family: "Lato";
   font-size: 1.7rem;
   font-weight: 500;
   letter-spacing: 0px;
   color: rgba(80, 80, 80, 1);
 }

 .grid-all .big {
   width: 40rem;
   padding: 2rem;
   background-color: #fff;
   margin: 19px;
   border-color: rgba(80, 80, 80, 1);
   border-radius: 8px;
   font-size: 1.7rem;
 }

 .grid-all .big3 {
   height: 6.5rem;
   padding: 2rem;
   background-color: #fff;
   margin: 19px;
   border-color: rgba(80, 80, 80, 1);
   border-radius: 8px;
   font-size: 1.7rem;
 }

 .grid-all .small {
   background-color: #743790;
   color: white;
   width: 18px;
   border-radius: 50px;
   position: absolute;
   margin-left: 0.8%;
   margin-top: 0.8%;
   box-shadow: 0px 8px 10px rgb(115 55 143);
   filter: blur(-1px);
 }

 #check {
   display: none;
 }

 @media (max-width: 1024px) {
   .logo-navbar {
     margin-top: 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 80rem;
     margin-inline: auto;

     
   }

   .logo-navbar img {
     width: 25rem;

   }

   .navbar button {
     width: 15rem;
     height: 4.5rem;
     border-radius: 50px;
     margin: 14px 10px;
     border: none;
     font-size: 1.5rem;
     font-family: "DM Sans";
     transition: .3s ease-in;

   }

   .side-c {
     width: 60%;
   }

   .hero-content {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 8rem;
     color: #505050;
     max-width: 80rem;
     margin-inline: auto;

    
   }

   .hero-image {
     width: 30rem;
     margin: 0;

   }

   .hero-content button {
     width: 12rem;
     height: 4.5rem;
     border-radius: 50px;
     margin: 14px 10px;
     border: none;
     font-size: 1.5rem;
     font-family: "DM Sans";
     text-decoration: none;
     list-style: none;
     margin-top: 2rem;
     font-weight: 500;

   }

   .PARENTS-grid{
    max-width: 90rem;
     margin-inline: auto;
   }
   .text-grid h1 {
    color: #743790;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "DM Sans";
}
   .image-grid img {
    width: 40rem;
}
.rev-grid{
  max-width: 90rem;
     margin-inline: auto;
}
.rev-grid img {
  width: 40rem;
}

.all-payment {
  max-width: 90rem;
     margin-inline: auto;
}
.Paymentimg{
  width: 30rem;
  margin-top: 8%;
}

.Tracking {
  max-width: 90rem;
  margin-inline: auto;
}

.Tracking img {
  width: 35rem;
}
.grid-all{
  max-width: 90rem;
  margin-inline: auto;
}
   .grid-all .big {
     width: 30rem;
     height: 6.5rem;
     padding: 2rem;
     background-color: #fff;
     margin: 19px;
     border-color: rgba(80, 80, 80, 1);
     border-radius: 8px;
     font-size: 1.7rem;
   }

   .grid-all .big3 {
     height: 6.5rem;
     padding: 2rem;
     background-color: #fff;
     margin: 19px;
     border-color: rgba(80, 80, 80, 1);
     border-radius: 8px;
     font-size: 1.7rem;
   }
 }

 @media (max-width:856px) {
   .Paymentimg {
     width: 45rem;
     box-shadow: 0px 0px 30px 0px rgb(99, 85, 106);
   filter: blur(-1px); }

   }



 @media (max-width:769px) {
   html {
     font-size: 56.25%;
   }

   body {
     max-width: 75rem;
     margin-inline: auto;

   }

   .nav ul {
    width: 12rem;
    height: 0rem;
    border-radius: 50px;
    margin: 14px 10px;
    border: none;
    font-size: 3rem;
    font-family: "DM Sans";
    transition: .3s ease-in;
    

  }

  .navbar{
    position: absolute;
    top: 10%;
    right: 0%;
     width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, -1);
    backdrop-filter: blur(50px);
    box-shadow: 0 5rem 1rem rgb;
    transition: .3s ease-in;
    overflow: hidden;
      
  }

  .navbar button {
    display: block;
    font-size: 2rem;
    margin-top: 3%;
    margin-left: 35%;
    transition: .3s ease-in;
  }

  .icons {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #743790;
    cursor: pointer;
    font-size: 3.8em;
    display: none;
  }

  .logo-navbar img {
    width:30rem;
    margin-top: 8%;

  }

  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  #check:checked~.navbar {
    height: 30.7rem;
    font-size: 4rem;
  }
  #check:checked~.nav ul {
    font-size: 4rem;
  }
  .hero-text {
    width: 40rem;
    height: 30rem;
} 
  .hero-text h1{
    font-size: 3rem;
}
.hero-text {
  /* width: 50rem; */
  height: 30rem;
}

   header {
     overflow: hidden;
   }

   .PARENTS-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 15%;
     margin-top: 5%;


   }

   .text-grid {
     margin-top: 20%;
   }

   .text-grid h4 {
     color: #ffcb51;
     margin-bottom: 0.9%;
     font-family: "DM Sans";
     font-size: 1.8rem;
     font-weight: 500;
     line-height: 23px;
     letter-spacing: 1px;
   }

   .text-grid h1 {
     color: #743790;
     line-height: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3rem;
     font-weight: 700;
     font-family: "DM Sans";
   }

   .text-grid .child-1,
   .text-grid .child-2,
   .text-grid .child-3 {
     margin-bottom: 1.5rem;
     display: flex;
     font-size: 1.5rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 500;

   }

   .text-grid i {
     color: #743790;
     margin-right: 1%;
   }

   .image-grid img {
     width: 30rem;
   }



   /*  */

   .rev-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 5%;
     grid-column-gap: 1%;

     /* width: 100%; */

   }

   .image2-grid {
     width: 35rem;
     margin: 0;
   }

   .cubo-grid h4 {
     color: #ffcb51;
     margin-bottom: 0.9%;
     font-family: "DM Sans";
     font-size: 2rem;
     font-weight: 500;
     line-height: 23px;
     letter-spacing: 1px;
   }

   .cubo-grid h1 {
     color: #743790;
     line-height: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3rem;
     font-weight: 700;
     font-family: "DM Sans";
   }

   .rev-grid img {
     width: 35rem;
     margin: 0;
   }

   .text-grid {
     display: block;
     font-size: 19px;
     color: rgba(80, 80, 80, 1);
     width: Hug (378px);
   }

   .cubo-grid .child-4,
   .cubo-grid .child-5,
   .cubo-grid .child-6,
   .cubo-grid .child-7 {
     margin-bottom: 1.5rem;
     display: flex;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 400;
     line-height: 2.5rem;
   }

   .cubo-grid i {
     color: #743790;
     margin-right: 1%;
   }

   /*  */


   .all-payment {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 15%;
   }

   .all-payment h1 {
     color: #743790;
     font-family:" DM Sans";
     font-size: 3.5em;
     font-weight: 700;
     line-height: 4rem;
     letter-spacing: 0px;
   }

   .Paymentimg {
     width: 35rem;
   }

   .all-payment p {
     margin-top: 3%;
     margin-bottom: 3%;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 400;
     line-height: 2.5rem;
   }

   .all-payment ul {
     line-height: 3.5rem;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 400;
     display: flex;


   }

   .all-payment ul span {
     font-size: 4rem;
     color: #743790;
   }

   .Tracking h1 {
     color: #743790;
     font-family: "DM Sans";
     font-size: 3.4em;
     font-weight: 700;
     line-height: 4rem;
     letter-spacing: 0px;
   }

   .Tracking img {
     width: 30rem;
   }

   .grid-all {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     margin-top: 8%;
     text-align: center;
     margin-bottom: 20%;

     
   }
   .grid-all .big3 {
    height: 6.5rem;
    width: 30rem;
    background-color: #fff;
    border-color: rgba(80, 80, 80, 1);
    border-radius: 8px;
    font-size: 1.7rem;
    text-align: center;
  }
  .grid-all .big{
    height: 6.5rem;

  }
 }

 @media (max-width:658px) {
   html {
     font-size: 50%;
   }

   body {
     max-width: 45rem;
     margin-inline: auto;
   }

   nav a {
     text-decoration: none;
     list-style: none;
     color: white;
     font-size: 1.8rem;
   }

   .hero-content {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     margin-top: 8rem;
     color: #505050;

   }

   .hero-text {
     width: 45rem;
     height: 30rem;
     text-align: center;

   }

   .hero-text h1 {
     font-size: 4.2rem;
     margin-top: 5.5rem;
   }

   .hero-text h2 {
     font-family: "Lato";
     font-size: 2rem;
     line-height: 2.2rem;
     margin-top: 2rem;
   }

   .hero-image {
     width: 45rem;
     margin-top: 8%;

   }

   .hero-content button {
     width: 18rem;
     height: 6rem;
     border-radius: 50px;
     margin: 14px 10px;
     border: none;
     font-size: 23px;
     font-family: "DM Sans";
     text-decoration: none;
     list-style: none;
     margin-top: 2rem;
     font-weight: 500;

   }

   .PARENTS-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     margin-top: 5%;
     overflow: hidden;


   }

   .text-grid {
     margin-top: 20%;
   }

   .text-grid h4 {
     color: #ffcb51;
     margin-bottom: 0.9%;
     font-family: "DM Sans";
     font-size: 2rem;
     font-weight: 500;
     line-height: 23px;
     letter-spacing: 1px;
     text-align: center;

   }

   .text-grid h1 {
     color: #743790;
     line-height: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3.5rem;
     font-weight: 700;
     font-family: "DM Sans";
     text-align: center;

   }

   .text-grid .child-1,
   .text-grid .child-2,
   .text-grid .child-3 {
     margin-bottom: 1.5rem;
     display: flex;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 500;

   }

   .text-grid i {
     color: #743790;
     margin-right: 1%;

   }

   .image-grid img {
     width: 45rem;
   }

   .rev-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-column-gap: inherit;
     margin-top: 5%;
     overflow: hidden;

   }

   .cubo-grid h4 {
     color: #ffcb51;
     margin-bottom: 0.9%;
     font-family: "DM Sans";
     font-size: 2rem;
     font-weight: 500;
     line-height: 23px;
     letter-spacing: 1px;
     text-align: center;
   }

   .cubo-grid h1 {
     color: #743790;
     line-height: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3.5rem;
     font-weight: 700;
     font-family: "DM Sans";
     text-align: center;
   }

   .rev-grid img {
     width: 45rem;
   }

   .text-grid {
     display: block;
     font-size: 19px;
     color: rgba(80, 80, 80, 1);
     width: Hug (378px);
   }

   .cubo-grid .child-4,
   .cubo-grid .child-5,
   .cubo-grid .child-6,
   .cubo-grid .child-7 {
     margin-bottom: 1.5rem;
     display: flex;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 400;
     line-height: 2.5rem;
   }

   .cubo-grid i {
     color: #743790;
     margin-right: 1%;
   }

   /*  */


   .all-payment {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-column-gap: 5%;
     margin-top: 15%;
     overflow: hidden;

   }

   .all-payment h1 {
     color: #743790;
     font-family: "DM Sans";
     font-size: 3.7em;
     font-weight: 700;
     line-height: 4.8rem;
     letter-spacing: 0px;
     text-align: center;
     margin-right: 15%;
   }

   .Paymentimg {
     width: 50rem;
   }

   .all-payment p {
     margin-top: 3%;
     margin-bottom: 3%;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 400;
     line-height: 2.5rem;
   }

   .all-payment ul {
     line-height: 3.5rem;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 400;
     margin-left: 1.5rem;
     display: flex;


   }

   .all-payment ul span {
     font-size: 4rem;
     color: #743790;
   }

   .about-1 {
     color: #743790;
     justify-content: center;
     text-align: center;
     display: flex;
     font-family: "DM Sans";
     font-size:4.2rem;
     font-weight: 700;
     line-height: 52px;
     letter-spacing: 1px;
     margin-bottom: 1%;
   }

   .about-2 {
     font-family: "Lato";
     font-size: 1.8em;
     font-weight: 500;
     line-height: 1.8em;
     letter-spacing: 0px;
     text-align: center;
     color: rgba(80, 80, 80, 1);
   }

   .Tracking {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-column-gap: inherit;
     margin-top: 5%;
     overflow: hidden;

   }



   .Tracking-school h1 {
     color: #743790;
     font-family: "DM Sans";
     font-size: 3.8rem;
     font-weight: 700;
     line-height: 4.8rem;
     letter-spacing: 0px;
     text-align: center;
   }

   .Tracking img {
     width: 40rem;
     margin-top: 12%;
   }

   .Tracking-school ul {
     display: flex;
     line-height: 3.5rem;
     font-size: 1.7rem;
     color: rgba(80, 80, 80, 1);
     font-family: "Lato";
     font-weight: 400;
     margin-left: 1.5rem;


   }

   .Tracking-school ul span {
     font-size: 4rem;
     color: #743790;

   }

   .grid-all {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     margin-top: 8%;
     place-items: center;
     margin-bottom: 20%;
     overflow: hidden;

   }


 }

 @media (max-width:450px) {
   html {
     font-size: 50%;
   }

   body {
     max-width: 40rem;
     margin-inline: auto;
   }

   .hero-image {
     width: 40rem;
     margin-top: 8%;
   }

   .hero-content button {
     width: 17rem;
     height: 5rem;
     font-size: 15px;
     margin: 10px 5px;
   }

   .grid-all .big {
     width: 37rem;
     padding: 1.5rem;
     background-color: #fff;
     margin: 19px;
     border-color: rgba(80, 80, 80, 1);
     border-radius: 8px;
     font-size: 1.7rem;
   }

   .grid-all .big3 {
    width: 37rem;
     height: 6.4rem;
     padding: 1.5rem;
     background-color: #fff;
     margin: 19px;
     border-color: rgba(80, 80, 80, 1);
     border-radius: 8px;
     font-size: 1.7rem;
   }

   .Paymentimg {
     width: 45rem;
   }

 }

 @media (max-width:320px) {
   html {
     font-size: 45%;
   }

   body {
     max-width: 40rem;
     margin-inline: auto;
   }

   .hero-text h1 {
     font-size: 3.1rem;
     margin-top: 5.5rem;
     margin-left: 0;
   }

   .hero-text h2 {
     font-family: "Lato";
     font-size: 1.8rem;
     line-height: 2.2rem;
   }

   .hero-image {
     width: 38rem;
     margin-top: 18%;
   }

   .hero-content button {
     width: 16rem;
     height: 5rem;
     font-size: 15px;
     margin: 10px 5px;
   }
 }